# Blacklist all
*

# Whitelist 
!.gitignore
!README.md
!*.odt
!Source/*.h
!Source/*.mm
!Source/*.cpp
!Source/Skin/*.png
!Source/JuceLibraryCode/*.h
!Source/JuceLibraryCode/*.cpp
!Builds/VisualStudio2017/*.*
!Builds/MacOSX/**/*
!Setup/**/*
