# Blacklist all
*

# Whitelist types / subdirs
!.gitignore
!README.md
!*.jucer
!*.h
!*.cpp
!*.mm
!*.rc
!*.vcxproj
!*.sln
!*.txt
!*.odt
!*.png
!*.php
!*.css
!*.*htm
!*.*html
!Builds/MacOSX/*

# Blacklist subdirs
JuceLibraryCode\modules

